.search-layout {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
  }
  
  .filter-panel {
    flex: 1;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 125px);
    overflow-y: scroll;
  }
  
  // .scrollable-filters {
  //   overflow-y: auto;
  //   max-height: 70vh;
  //   padding-right: 8px;
  // }
  .card-panel {
    flex: 3;
  }
  .custom-card {
    margin-bottom: 1rem;
  }
  
  .filter-item {
    margin-bottom: 0.5rem;
  }
  
  .reset-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color:black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .result-item {
    background: #f9f9f9;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .result-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .result-desc {
    font-size: 0.95rem;
    color: #555;
  }
  .read-now-btn {
    background-color: white;
    border: 1px solid black;
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 8px;
  }