.search-layout {
  display: flex;
  gap: 1.5rem;
  height: 85vh;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.filter-panel {
  flex: 1;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  height: 100%;
  padding-right: 0.5rem;
  box-sizing: border-box;

}

.card-panel {
  flex: 3;
  overflow-y: auto;
  height: 100%;
  padding-right: 0.5rem;
  box-sizing: border-box;
}

.custom-card {
  margin-bottom: 1rem;
}

.filter-item {
  margin-bottom: 0.5rem;
}

.reset-btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  position: sticky;
  bottom: 20px;
  margin-top: 25px;
}

.result-item {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, .125);

}

.result-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.result-desc {
  font-size: 14px;
  color: #555;
  margin: 0;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.read-now-btn {
  background-color: white;
  border: 1px solid black;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 0.5rem;
}

.result-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.result-title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 14px;
}

.filter-groups {
  overflow-y: auto;
  padding-right: 0.5rem;
}
.filter-group {
    padding: 2px;    
    padding-bottom: 10px;
}

// .filter-group:hover {
//     border-bottom: 1px solid #ddd;
//     border-top: 1px solid #ddd;    
// }

.slider-values {
  padding-top: 10px;
  padding-left: 30px;
}

.slider-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.clear-icon {
  cursor: pointer;
  font-size: 18px;
  color: #888;

  &:hover {
    color: #d9534f;
  }
}

.p-slider-type {
  width: 90%;
  margin-left: 11px;
}

.filter-header {
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.p-autocomplete-input {
  font-size: 16px;
  padding: 8px;
}

/* Styles for the suggestion list items */
.p-autocomplete-item {
  padding: 10px;
  background-color: red;
}

.p-autocomplete-item:hover {
  background-color: green;
}


::ng-deep .p-autocomplete-input {
  display: block;
  width: 20vw;
  font-size: 12px;
  border-radius: 20px;
}

::ng-deep p-autocomplete-panel .p-autocomplete-items {
  padding: 0 !important;
  font-size: 12px;
}

:host ::ng-deep .p-autocomplete-panel {
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 1000;
  width: -webkit-fill-available;
}

/* loader */
.loader {
  border: 2px solid;
  border-color: transparent #E31F26;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 24px solid;
  border-color: transparent rgba(237, 108, 108, 0.15);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-pos {
  // height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;

}

.actions {
  margin-top: 2px;
}

.icons {
  font-size: 16px;
  padding-top: 10px;
  padding-right: 10px;
}

.cancel {
    background-color: white;
    color: red;
    border-color: white;
    font-weight: bold;
}
.submit {
  color: #343a40 !important;
}
.commentItem {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.commentHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.commentAuthor {
  font-weight: bold;
}
.commentDate {
  font-size: 0.9em;
  color: #666;
}
.commentBody {
  font-size: 1em;
  color: #333;
}
.commentsList {
  max-height: 300px;
  overflow-y: auto;
}

::ng-deep .p-dialog-content {
    overflow-y: hidden;
    flex-grow: 1;
}
.count {
  margin: 3px;
  font-size: 12px;
}
.show-more-less {
  cursor: pointer;
  color: #007bff;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  text-decoration: underline;
}
.colapse {
  float: right !important;
}

.message {
  font-size: 12px;
  margin: 10px;
  color: red;
}

.dateRange {
  display: flex;
}

.todate {
  // margin-right:10px ;
  margin-left:10px ;
}
.fromdate {
  margin-right:10px ;
  // margin-left:10px ;
}
.delimeter {
      align-items: center;
    display: flex;
    font-size: 20px;
}
.noResultsMsg {
      font-size: 20px;
    font-weight: bold;
}