<div class="container">
    <div class="left-container">
        <div class="dashboard">Dashboard</div>
        <div class="sideNav">
            <div class="kaNavItem"><b>Knowledge Areas</b></div>
            <div *ngFor="let ka of kaList">
                <div class="navItems" (click)="navigateToHWS()"><i class="fas fa-chevron-right icon"></i>{{ka.key}}</div>
            </div>
            <!-- <div class="navItems" (click)="navigateToHWS()"><i class="fas fa-chevron-right icon"></i>Lesson Learned</div>
            <div class="navItems" (click)="navigateToHWS()"><i class="fas fa-chevron-right icon"></i>Design Guidelines</div>
            <div class="navItems" (click)="navigateToHWS()"><i class="fas fa-chevron-right icon"></i>Test Standards</div>
            <div class="navItems" (click)="navigateToHWS()"><i class="fas fa-chevron-right icon"></i>NPD Processes</div>
            <div class="navItems" (click)="navigateToHWS()"><i class="fas fa-chevron-right icon"></i>QA Lesson Learned</div>
            <div class="navItems" (click)="navigateToHWS()"><i class="fas fa-chevron-right icon"></i>PTS</div> -->
           
        </div>
   
    </div>
    <div class="right-container">
        <div class="search-container">
            <div class="clear-search">
                <img class="search" src="./assets/search.png"/>
            </div>
            <input type="text" [(ngModel)]="searchQuery" class="search-field" (keyup)="filterWords()"
                (keyup.enter)="enableSearch || searchQuery?.trim() ? getSearchResult() : ''"
                (focus)="toggleWordSearch(true)" placeholder="How can I help you?" />
            <div *ngIf="searchQuery" class="clear-search">
                <img class="cancel-btn" src="./assets/cancel.png" (click)="cancelSearch()" />
            </div>
     
            <button class="search-btn pointer-cursor" 
                (click)="getSearchResult()" [disabled]="!(enableSearch || searchQuery?.trim())">Search
            </button>
     
        </div>
     
        <div #resultContainer>
            <div class="result">
                <div class="section snippet-section">
                    <div *ngIf="loading;" class="loader-pos">
                        <span class="loader"></span>
                    </div>
                    <app-dashboard [list]="searchResult" (kaEvent)="receiveKAList($event)" *ngIf="searchResult.length > 0"></app-dashboard>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>
 
<!-- <p-dialog header="PTS WebPage" [(visible)]="visibleSummary" [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '68%' }" [draggable]="false" [resizable]="false" [modal]="true"
    [closable]="summaryLoading ? false : true">
 
    <div class="info-container">
        <div class="info-row">
            <div class="info-label">PTS NO</div>
            <div class="info-value">{{ metaData?.metadatas?.['Object'] }}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Model Code</div>
            <div class="info-value">{{ metaData?.metadatas?.['Model Code'] }}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Issue Title</div>
            <div class="info-value">{{ metaData?.['issue_title'] }}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Issue Description</div>
            <div class="info-value">{{ metaData?.['issue_description'] }}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Part No</div>
            <div class="info-value">{{ metaData?.metadatas?.['Part Number'] }}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Part Name</div>
            <div class="info-value">{{ metaData?.metadatas?.['Part Name'] }}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Event</div>
            <div class="info-value">{{ metaData?.metadatas?.['Event'] }}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Date of Initiation</div>
            <div class="info-value">{{ metaData?.['request_date'] }}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Initiator Department</div>
            <div class="info-value">{{ metaData?.metadatas?.['Initiator Dept'] }}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Severity</div>
            <div class="info-value">{{ metaData?.metadatas?.['Severity'] }}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Root Cause Description</div>
            <div class="info-value">{{ metaData?.metadatas?.['Root Cause Description'] }}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Countermesure Details</div>
            <div class="info-value">{{ metaData?.metadatas?.['Countermeasure Details'] }}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Solver Group</div>
            <div class="info-value">{{ metaData?.metadatas?.['Solver Group'] }}</div>
        </div>
        <div class="info-row">
            <div class="info-label">Designer Group</div>
            <div class="info-value">{{ metaData?.['design_group'] }}</div>
        </div>
    </div>
    
 
</p-dialog> -->
 
<p-toast></p-toast>