<div>
    <h2 class="knowledge">
        <i>Results for the {{query}} is found in below Knowledge Areas</i>
    </h2>
    
    <div class="row">        
        <div *ngFor="let item of uniqueKnowledgeAreasWithCount;let i = index" >
            <div class="card" (click)="getAllUniqueKnowledgeAreaItems(item)">
                <div class="cardHeader">{{item.key}}</div>
                <div class="cardBody">                            
                    {{item.value}}                    
                </div>                
            </div>
        </div>
    </div>
</div>
