<div>
    <div class="row">        
        <div *ngFor="let item of uniqueKnowledgeAreasWithCount;let i = index" >
            <div class="card" (click)="getAllUniqueKnowledgeAreaItems(item)">
                <div class="cardHeader">{{item.key}}</div>
                <div class="cardBody">                            
                    {{item.value}}                    
                </div>
                <!-- <div class="cardFooter" >
                    <img src='{{ "assets/" + item.key + ".png" }}' style="height: 100px;" alt="lesson-learned"/>
                </div>           -->
            </div>
        </div>
    </div>
</div>
